@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
@font-face {
  font-family: Playball;
  src: url(fonts/Playball.ttf);
}
@font-face {
  font-family: PT-SAN;
  src: url(fonts/PTS56F.ttf);
}
body {
  background-color: #fff;
  color: #243238;
  font-family: "PT Sans",sans-serif;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
}
.edu-container_header_546f07b9 {
  border-color: #7ca877;
  border-radius: 0;
  border-style: solid;
  border-width: 6px 0 0;
  margin: 0;
  padding: 0;
}
.edu-widget {
  position: relative;
}
.edu-spacing-right-auto {
  padding-right: initial;
}
.edu-spacing-left-auto {
  padding-left: initial;
}
.edu-spacing-bottom-small {
  padding-bottom: 10px;
}
.edu-spacing-top-auto {
  padding-top: initial;
}
.edu-widget {
  position: relative;
}
.edu-widget {
  position: relative;
}
.row-fixed .container-fluid {
  max-width: 1200px;
}
.row-fixed .container-fluid {
  margin-left: auto;
  margin-right: auto;
}
.container-fluid, .edu-cell {
  padding-left: 15px;
  padding-right: 15px;
}
.edu-container_header_5773edf8 {
  background-color: transparent;
  background-image: asset_url("images/title_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #fff;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}
.edu-widget {
  position: relative;
}
.edu-spacing-left-auto {
  padding-left: initial;
}
.edu-spacing-bottom-auto {
  padding-bottom: initial;
}
.edu-spacing-top-medium {
  padding-top: 25px;
}
.edu-widget {
  position: relative;
}
.edu-text_system_1 {
  color: #604848;
  font-family: "Playball",display;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}
.edu-text_system_1 a {
  color: #604848;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
.edu-widget-text-content {
  padding: 0 1px;
}
.edu-text_system_2 {
  color: #7ca877;
  font-family: "PT-SAN",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}
.edu-text_system_2 a {
  color: #7ca877;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.row-gutter-0 .container-fluid, .row-gutter-0 .edu-cell {
  padding-left: 0;
  padding-right: 0;
}
.edu-widget-image .edu-widget-image-link::before, .edu-widget-image .edu-widget-image-link::after {
  content: "";
  position: absolute;
  transition: all 0.3s linear 0s;
}
.edu-widget-image .edu-widget-image-link .edu-widget-image-picture {
  transition: all 0.3s linear 0s;
  will-change: transform;
}
.edu-widget-image .edu-widget-image-picture {
  max-width: 100%;
  width: 100%;
}
.edu-text_system_10 {
  color: #6b6b6b;
  font-family: "PT Sans",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
}
.edu-text_119 {
  color: #604848;
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
}
.edu-text_119 a {
  color: #604848;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.edu-text_119 a:hover{
  color: #7ca877;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
.edu-text_system_10 {
  color: #6b6b6b;
  font-family: "PT Sans",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
}
.edu-align-right {
  text-align: right;
}
.edu-spacing-top-small {
  padding-top: 10px;
}
.edu-widget-divider {
  font-size: 0;
}
.edu-align-left {
  text-align: left;
}
.edu-widget {
  position: relative;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-item::after {
  background-color: #80868b;
  content: "";
  height: 19px;
  position: absolute;
  right: -8px;
  top: 4px;
  width: 1px;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-item {
  display: inline-block;
  list-style: outside none none;
  margin-right: 16px;
  position: relative;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-link {
  color: #7ca877;
  letter-spacing: 3px;
  padding-left: 12px !important;
  transition: color 0.3s ease 0s;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-link:hover {
  color: #604848;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-link {
  color: #80868b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-link .fa {
  font-size: 35px;
  line-height: 51px;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-link .fa {
  font-size: 15px;
  vertical-align: middle;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-text, .edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-username {
  color: #7ca877;
  font: 500 18px/24px "PT Sans",sans-serif;
  letter-spacing: 3px;
  padding-left: 12px !important;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-text, .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-username {
  padding-left: 8px;
  vertical-align: middle;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-item:last-child::after {
  content: none;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-item::after {
  top: 16px;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-item::after {
  background-color: #80868b;
  content: "";
  height: 19px;
  position: absolute;
  right: -8px;
  top: 4px;
  width: 1px;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-item:last-child {
  margin-right: 0;
}
.edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-item {
  display: inline-block;
  list-style: outside none none;
  margin-right: 16px;
  position: relative;
}
.edu-widget-divider.edu-preset-default .edu-widget-divider-line {
  border-top: 1px solid #e1e1e1;
}
.edu-widget-divider .edu-widget-divider-line {
  display: inline-block;
  margin: 0;
  width: 100%;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
.edu-container_header_57740c93 {
  background-color: #ffffff;
  border-color: #e1e1e1;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  margin: 0;
  padding: 0;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-toggle-btn {
  background-color: #7ca877;
  color: #ffffff;
}
.edu-widget-menu .edu-widget-menu-toggle-btn {
  height: 40px;
  padding: 0 8px;
  width: 40px;
}
.edu-widget-menu .edu-widget-menu-toggle-btn {
  display: none;
  text-align: center;
}
.edu-widget-menu .edu-widget-menu-toggle-btn .edu-widget-menu-toggle-btn-icon {
  font-size: 24px;
  line-height: 40px;
}
.edu-widget-menu .edu-widget-menu-list {
  display: inline-block;
}
.edu-widget-menu .edu-widget-menu-list {
  list-style: outside none none;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list > .edu-widget-menu-item {
  margin: 0 15px;
}
.edu-widget-menu .edu-widget-menu-list > .edu-widget-menu-item {
  text-align: left;
  vertical-align: middle;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list > .edu-widget-menu-item > .edu-widget-menu-link::after {
  background: #7ca877 none repeat scroll 0 0;
  bottom: 20px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 0;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list .edu-widget-menu-item .edu-widget-menu-link-level-1 {
  color: #604848;
  font-family: "PT Sans",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list > .edu-widget-menu-item > .edu-widget-menu-link {
  font-size: 18px;
  padding: 28px 0;
  z-index: 2;
}
.edu-widget-menu .edu-widget-menu-list > .edu-widget-menu-item > .edu-widget-menu-link {
  cursor: pointer;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-link:hover {
  color: #604848;
}
.edu-widget .edu-widget-store_cart_and_profile .edu-widget-store_cart_and_profile-link:hover .edu-widget-store_cart_and_profile-text {
  color: #604848;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list > .edu-widget-menu-item > .edu-widget-menu-link:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 1px;
  width: 0;
  background: #7ca877;
  content: "";
  transition: all .3s;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list > .edu-widget-menu-item > .edu-widget-menu-link .edu-widget-menu-link-arrow {
  padding-left: 7px;
}
.edu-widget-menu .edu-widget-menu-list .edu-widget-menu-sublist::before {
  content: " ";
  height: 16px;
  left: 0;
  position: absolute;
  top: -16px;
  width: 100%;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-sublist {
  background-color: #ffffff;
  border-color: #7ca877 !important;
}
.edu-widget-menu .edu-widget-menu-list .edu-widget-menu-sublist {
  border: 5px solid;
  left: 0;
  min-width: 230px;
  padding: 0;
  top: calc(100% + 11px);
}
.edu-widget-menu .edu-widget-menu-sublist {
  display: none;
  left: 0;
  position: absolute;
  z-index: 500;
}
.edu-widget-menu .edu-widget-menu-list .edu-widget-menu-sublist .edu-widget-menu-item {
  display: block;
}
.edu-widget-menu .edu-widget-menu-list .edu-widget-menu-item {
  display: inline-block;
  position: relative;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-sublist .edu-widget-menu-item .edu-widget-menu-link {
  background-color: transparent;
  border-color: #e1e1e1;
  color: #7ca877;
  font-family: "PT Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.edu-widget-menu .edu-widget-menu-list .edu-widget-menu-sublist .edu-widget-menu-item .edu-widget-menu-link {
  border-bottom: 1px solid;
  font-size: 16px;
  padding: 10px 10px 10px 16px;
  text-align: left;
  transition: all 0.3s ease 0s;
}
.edu-widget-menu .edu-widget-menu-sublist .edu-widget-menu-link {
  display: block;
  position: relative;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list > .edu-widget-menu-item > .edu-widget-menu-link:hover:after {
  width: 100%;
}
.edu-widget-menu.edu-preset-2 .edu-widget-menu-list > .edu-widget-menu-item:not(:first-child) {
  margin-left: 50px;
}
.edu-widget-menu.edu-preset-default .edu-widget-menu-list > .edu-widget-menu-item > .edu-widget-menu-link .edu-widget-menu-link-arrow::before {
  content: "";
  transition: all 0.3s ease 0s;
}
.edu-widget-store_search .search-form.on {
  display: block;
}
.edu-widget.edu-widget-store_search .search-form {
  border: 1px solid #e1e1e1;
}
.edu-widget-store_search .search-form {
  display: none;
}
.edu-widget-store_search .search-form {
  display: block;
  position: relative;
  width: 100%;
}
.edu-widget.edu-widget-store_search .search-form_label {
  background: transparent none repeat scroll 0 0;
  border: 1px solid transparent;
  padding: 0;
  width: 100%;
}
.edu-widget-store_search .search-form_label {
  background: #ededed none repeat scroll 0 0;
  border: 1px solid #acacac;
  display: block;
  padding: 12px 40px 12px 10px;
}
.edu-widget.edu-widget-store_search .search-form_label input {
  font-size: 14px;
  height: 38px;
  line-height: 18px;
  padding: 4px 40px 4px 6px;
}
.edu-widget-store_search .search-form_input {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  display: block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  outline: medium none;
  vertical-align: baseline;
  width: 100%;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.edu-widget-store_search .search-form_liveout {
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all 0.3s ease 0s;
}

.edu-widget-store_search{
  .search-form_submit::before {
    content: "";
  }
}
.edu-widget.edu-widget-store_search{
    .search-form_submit::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
  }
  .search-form_submit {
    border-left: 0 none;
    color: #000000;
    cursor: pointer;
    font-size: 24px;
    height: 38px;
    line-height: 50px;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 44px;
  }
}
.edu-widget-store_search{
  .search-form_submit {
    color: #999999;
    font: 400 18px/22px "FontAwesome",sans-serif;
    height: 22px;
    position: absolute;
    right: 5px;
    top: 10px;
    transition: all 0.3s ease 0s;
    width: 25px;
  }
}
.header-icon-size{
  font-size: 30px;
  color: #7ca877;
  letter-spacing: 3px;
  padding-right:10px;
}
.edu-container_footer_57741182 {
  background-color: transparent;
  background-image: asset_url("images/title_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #fff;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}
.edu-text_117 {
  color: #604848;
  font-family: "Playball",display;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}
.edu-text_117 a {
  color: #604848;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.edu-text_120 {
  color: #7ca877;
  font-family: "PT Sans",sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
}
.edu-text_120 a {
  color: #7ca877;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.edu-text_normal {
  color: #858585;
  font-family: "PT Sans",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
}
.edu-text_122 {
  color: #66a55f;
  font-family: "PT Sans",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
  a {
    color: #7ca877;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
  }
}
